.wy-nav-content {
    max-width: none;
}
.math {
    text-align: left;
}
.eqno {
    float: right;
}

img.border {
    border: 1px solid black; /* Change the color and width as needed */
    padding: 5px;           /* Optional: Adds padding inside the border */
    border-radius: 5px;     /* Optional: Adds rounded corners */
    margin-bottom: 50px;
}
